POLO_ADAPTER_API_KEY=han1234
POLO_ADAPTER_MAIN_BASE_URL=http://127.0.0.1:8000
POLO_ADAPTER_SQLITE_PATH=../data/hancat.db
POLO_ADAPTER_HOST=0.0.0.0
POLO_ADAPTER_PORT=8100
POLO_ADAPTER_TASK_ID_WAIT_SECONDS=5
POLO_ADAPTER_IMAGE_TIMEOUT_SECONDS=15
POLO_ADAPTER_IMAGE_MAX_BYTES=10485760
POLO_ADAPTER_IMAGE_MAX_REDIRECTS=3
POLO_ADAPTER_SQLITE_BUSY_TIMEOUT_MS=5000
